<a href="https://colab.research.google.com/github/junkyuhufs/Class2022Fall/blob/main/Class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#numpy & matplotlib packages

##create nd arrays (≈matrices);  nd = n-dimensional

In [1]:
import numpy as np

###1-d array

array >> list를 nd-arry형태로 변환

In [ ]:
x = np.array([1,2,3])
print(x)
print(type(x))
print(x.shape)

NOT arrange; arange >>> 숫자 3개; 첫 두 숫자는 범위(두번째 숫자 미포함), 마지막 숫자는 increment

In [ ]:
x = np.arange(0,10,2)
print(x)
print(type(x))
print(x.shape)

linspace (linear space)>> 첫 두 숫자는 범위 (두번째 숫자 포함), 마지막 숫자는 등분하여 생성할 숫자 갯수

In [ ]:
x = np.linspace(0,10,6)
print(x)
print(type(x))
print(x.shape)

##2-d array

In [ ]:
x = np.array([[1,2,3], [4,5,6]])
print(x)
print(type(x))
print(x.shape)

##3-d array

In [ ]:
x = np.array([[[1,2,3], [4,5,6]], [[7,8,9], [10,11,12]]])
print(x)
print(type(x))
print(x.shape)

ones >> 원하는 메트릭스를 만들고, 1로 채우기

In [ ]:
x = np.ones([2, 2, 3])
print(x)
print(type(x))
print(x.shape)

zeros >> 원하는 메트리스를 만들고, 0으로 채우기

In [ ]:
x = np.zeros([2, 2, 3])
print(x)
print(type(x))
print(x.shape)

reshape >> 행렬형태 바꾸기

In [ ]:
x = np.zeros([2, 2, 3])
print(x)
x.reshape(3,2,2)

#create random numbers

[np.random.normal 함수](https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html)

In [ ]:
np.random.normal(0, 1, [2,3,4])

In [15]:
import matplotlib.pyplot as plt

bins >> 통의 갯수

In [ ]:
x = np.random.normal(0, 1, 100)
print(x)
plt.hist(x, bins=10)