<a href="https://colab.research.google.com/github/junkyuhufs/Class2022Fall/blob/main/class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String & List review

In [ ]:
s = 'abcdef'
print(type(s))

In [ ]:
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

In [ ]:
n = [100, 200, 300]
print(type(n))

In [ ]:
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

In [ ]:
len(s)

In [ ]:
s[1]+s[3]+s[4:]*10

In [ ]:
s.upper()

In [ ]:
k = ' this is a house built this year.\n' 	
k

In [ ]:
result = k.find('house') 	    # index of first instance of string; return index
result

In [ ]:
result = k.find('this')	      # index of first instance of string; return index 
result

In [ ]:
j = k.strip()      	          # a copy of s without leading or trailing whitespace
j

In [ ]:
tokens = j.split(' ')	        # split s into a list  (whitespace by default)
tokens

In [13]:
m = ' '.join(tokens)	        # combine the words of the text into a string using m as the glue
m

'this is a house built this year.'

In [14]:
v = m.replace('this', 'that') # replace instances of t with u inside m
v

'that is a house built that year.'

#Function

def 함수명 (입력변수1 ... 입력변수 n)

return 출력변수

In [15]:
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

In [ ]:
c = add(1,2); print(c)
c = subtract(1,2); print(c)
c = multiply(1,2); print(c)
c = divide(1,2); print(c)

#Syntax

##for 반복문

**for** i **in** a:  >>> list a에 있는 것을 i로 처음부터 하나하나씩 받아서 실행

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

**for** i ***in*** *range*(4): >>> 이 형식에서 range(4)는 [0, 1, 2, 3]의 list와 동일

In [ ]:
a = [1, 2, 3, 4]
for i in range(4):
    print(a[i])

**for** i **in** *range(len(s))*: >>> 이 형식에서 range(len(a))는 a의 list 길이만큼의 인덱스 list를 만듬

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

In [37]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

##if 조건문

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

In [ ]:
a = 0
if a != 0:
    print(a)
else:
    print(a+1)

for i in range(1, 3) >>> range(1, 3) = [1, 2]  (range의 첫번째 거 포함; range의 두번째것 비포함) 

for i in range(3, 5) >>> range(3, 5) = [3, 4]

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

#List comprehension

(예) List 안쪽에 for문이 들어간 경우

b = [i for i in a if i >=2] >> a에 있는 것을 하나하나씩 i로 반복해서 받고, if문을 실행

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

#Dict comprehension

(예) Dict안에 for문이 있는 경우

range(4) = [0, 1, 2, 3] ;; { a[0]: b[0], a[1]: b[1], ....}

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}
c