<a href="https://colab.research.google.com/github/junkyuhufs/Class2022Fall/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

A courtesy of Drs. Hosung Nam (Korea Univ.), Miran Kim (GNU), Minjung Son (Hannam Univ.)

##Defining Variables

Types of variables: Integers, floating numbers, and strings

In [ ]:
# x = 3    'Integer 3 is assigned to the variable 'x'
# y = 3.0  'Floating number 3.0 is assigned to the variable 'y'
# z = "3"  'String "3" is assigned to the variable 'z' 
# single or double quotes for string (both ends should match.)

x = 3             # variable 'x' type: integer 'int'
y = 3.0           # variable 'y' type: floating number 'float'
z = "3"           # variable 'z' type: string 'str'
Z = 'Character'   # variable 'Z'(capital) type: string 'str'

print(type(x))
print(type(y))
print(type(z))
print(type(Z))

##Indexing for strings and lists
Ï≤´ÏûêÎ¶¨Îäî 0 (Not 1)

In [ ]:
a = '123'; print(type(a)); print(a[1])

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

[2] Data types
Data type is an important concept. Variables can store data of different types, and different types can do different things. Python has the following data types built-in by default:

#Data Types	

  Text Type:	str(ing)

  Numeric Types:	int(eger), float(ing)

  Sequence Types:	list, tuple, range

  Mapping Type:	dict(ionary)

üî≥ Commonly used types of data: (string, integer, floating numbers), list, dictionary, (tuple)

üìç List data handling

Accessing items in a listdata

Replace items

Adding items

Inserting items

In [ ]:
# List: list [1, 2, 3, 4, 5] or ["Python", "is", "awesome"]

listdata = [1, 2, 3, 4, 5]
type(listdata)

In [ ]:
# Accessing the data: List data

print(listdata[0])  # 1st element of the list
print(listdata[1])  # 2nd element
print(listdata[2])  # 3rd element
print(listdata[3])  # 4th element
print(listdata[4])  # 5th element

# Negative indexing means start from the end

print(listdata[-1]) # 1st from the end
print(listdata[-2])
print(listdata[-3])
print(listdata[-4])
print(listdata[-5])

üî∏ Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range. When specifying a range, the return value will be a new list with the specified items.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruitlist[2:5])   # From 2nd to the element before the 5th (excluding)
print(fruitlist[:5])    # From the 1st to the element before the 5th (excluding)
print(fruitlist[-4:-1]) # the first from the end is excluded.
print(fruitlist[-4:])

In [12]:
# Change item values:

fruitlist = ["apple", "banana", "cherry", "orange"]
fruitlist[1] = "grapes"

print(fruitlist[1])
print(fruitlist)

grapes
['apple', 'grapes', 'cherry', 'orange']

In [13]:
# Change multiple item values:
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi"]
fruitlist[1:3] = ["grapes","banana"]

print(fruitlist)

['apple', 'grapes', 'banana', 'orange', 'kiwi']

In [ ]:
# Add items: append
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi"]

fruitlist.append("blueberry")
print(fruitlist)

# Length of items in a list: len()

len(fruitlist)

In [15]:
# Add an item in a specific location: listdata.insert()

fruitlist = ["apple", "banana", "cherry"]
fruitlist.insert(0, "blueberry")
fruitlist.insert(2, "raspberry")
print(fruitlist)

['blueberry', 'apple', 'raspberry', 'banana', 'cherry']

In [ ]:
# Remove items:

fruitlist = ["apple", "banana", "cherry"]

fruitlist.remove("banana")
print(fruitlist)

In [17]:
# Remove specific items: (1) .pop()

fruitlist = ["apple", "banana", "cherry"]
fruitlist.pop(2)  # Remove the 3rd item
print(fruitlist)

# Remove specific index: (2) del 

del fruitlist[0]
print(fruitlist)

['apple', 'banana']
['banana']